<?xml version="1.0"?>
<config>
    <sections>
        <smsnotifications module="smsnotifications">
            <tab>service</tab>
            <label>SMS Notifications</label>
            <sort_order>9001</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <sms_api_credentials module="smsnotifications">
                    <label>API Credentials</label>
                    <expanded>1</expanded>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <comment><![CDATA[
                    ]]></comment>
                    <fields>
                        <gateway_url>
                            <label> SMS gateway url</label>
                            <validate>required-entry</validate>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </gateway_url>
                        <auth_token>
                            <label>Api Key</label>
                            <validate>required-entry</validate>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </auth_token>
                        <sender_name>
                            <label> SENDERID</label>
                            <validate>required-entry</validate>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </sender_name>
                    </fields>
                </sms_api_credentials>
                <order_notification module="smsnotifications">
                    <label>Order Notification Settings</label>
                    <expanded>1</expanded>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <comment><![CDATA[
                        <p> </p>
                    ]]></comment>
                    <fields>
                        <recipients>
                            <label>Primary Admin Number.       You can specify multiple numbers seperated by comma</label>
                            <expanded>1</expanded>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                            <p></p>
                            <p>
                            To send an automatic notification by SMS once an order has been placed with your store
                            , enter a placed message below. 
                            </p>  
                              <p> Variable parameters <b>: {{name}},{{amount}},{{order}}</b> </p>  
                            ]]></comment>
                            <sort_order>97</sort_order>
                        </recipients>
                        <order_status>
                            <label>Notification Order placed Status</label>
                            <expanded>1</expanded>
                            <frontend_type>textarea</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                            <p>
                            To send an automatic notification by SMS once an order has been held with your store,
                            enter a hold message below. 
                            </p>
                                <p> Variable parameters <b> :  {{name}},{{amount}},{{order}} </b> </p>
                            ]]></comment>
                            <sort_order>98</sort_order>
                        </order_status>
                        <order_hold_status>
                            <label>Notification Order hold Status</label>
                            <expanded>1</expanded>
                            <frontend_type>textarea</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                            <p>
                            To send an automatic notification by SMS once an order has been unheld with your store
                            , enter a unhold message below. 
                            </p>
                                <p> Variable parameters <b> :  {{name}},{{amount}},{{order}} </b> </p>
                            ]]></comment>
                            <sort_order>99</sort_order>
                        </order_hold_status>
                        <order_unhold_status>
                            <label>Notification Order Unhold Status</label>
                            <expanded>1</expanded>
                            <frontend_type>textarea</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                            <p>
                            To send an automatic notification by SMS once an order has been complete with your store,
                            enter a complete message below. 
                            </p>
                            <p> Variable parameters <b> : {{name}},{{amount}},{{order}}</b> </p>
                               
                            ]]></comment>
                            <sort_order>100</sort_order>
                        </order_unhold_status>
                        <order_complete_status>
                            <label>Notification Order complete Status</label>
                            <expanded>1</expanded>
                            <frontend_type>textarea</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                            <p>
                            To send an automatic notification by SMS once an order has been canceled with your store,
                            enter a canceled message below. 
                            </p>
                                <p> Variable parameters <b> :  {{name}},{{amount}},{{order}} </b> </p>
                               
                            ]]></comment>
                            <sort_order>101</sort_order>
                        </order_complete_status>
                        <order_canceled_status>
                            <label>Notification Order cancelled Status</label>
                            <expanded>1</expanded>
                            <frontend_type>textarea</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                            <p>
                            To send an automatic notification by SMS once an order has been closed with your store
                            , enter a closed message below. 
                            </p>
                                <p> Variable parameters <b> : {{name}},{{amount}},{{order}} </b></p>
                            ]]></comment>
                            <sort_order>102</sort_order>
                        </order_canceled_status>
                        <order_closed_status>
                            <label>Notification Order closed Status</label>
                            <expanded>1</expanded>
                            <frontend_type>textarea</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                            <p>
                            To send an automatic notification by SMS once an order has been closed with your store
                            , enter a closed message below. 
                            </p>
                                <p> Variable parameters <b> : {{name}},{{amount}},{{order}},{{orderStatus}} </b></p>
                            ]]></comment>
                            <sort_order>103</sort_order>
                        </order_closed_status>
                        <order_custom_status>
                            <label>Notification Order custom Status</label>
                            <expanded>1</expanded>
                            <frontend_type>textarea</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                            <sort_order>104</sort_order>
                        </order_custom_status>
                    </fields>
                </order_notification>
                <invoice_notification module="smsnotifications">
                    <label>Invoice Notification Settings</label>
                    <expanded>1</expanded>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <comment><![CDATA[
                            <p> Variable parameters <b> : {{name}},{{amount}},{{order}},{{invoiceno}}</b> </p>
                            <p>
                            To send an invoice notification to your customers once their invoice has been created, enter a invoice message below.
                        </p>
                       
                    ]]></comment>
                    <fields>
                        <message>
                            <label>Invoice Notification Message</label>
                            <frontend_type>textarea</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                               
                            ]]></comment>
                            <sort_order>104</sort_order>
                        </message>
                    </fields>
                </invoice_notification>
                <shipment_notification module="smsnotifications">
                    <label>Shipment Notification Settings</label>
                    <expanded>1</expanded>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <comment><![CDATA[
                         <p> Variable parameters <b> : {{name}},{{amount}},{{order}},{{shipmentno}}</b> </p>
                        <p>
                            To send an shipment notification to your customers once their shipment has been created, enter a shipment message below.
                        </p>
                    ]]></comment>
                    <fields>
                        <message>
                            <label>Shipment Notification Message</label>
                            <frontend_type>textarea</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[

                            ]]></comment>
                            <sort_order>105</sort_order>
                        </message>
                    </fields>
                </shipment_notification>
            </groups>
        </smsnotifications>
    </sections>
</config>
