<?xml version="1.0"?>
<config>
	<modules>
		<Apptha_Gethelook>
		  <version>0.1.0</version>
		</Apptha_Gethelook>
	</modules>
	<frontend>
		<routers>
			<gethelook>
			<use>standard</use>
			  <args>
				<module>Apptha_Gethelook</module>
				<frontName>getthelook</frontName>
			  </args>
			</gethelook>
		</routers>
		<layout>
		  <updates>
			<gethelook>
			  <file>gethelook.xml</file>
			</gethelook>
		  </updates>
		</layout>
	</frontend>
  <global>
    <helpers>
      <gethelook>
        <class>Apptha_Gethelook_Helper</class>
      </gethelook>
    </helpers>
	<blocks>
	  <gethelook>
		<class>Apptha_Gethelook_Block</class>
	  </gethelook>
	</blocks>
	<models>
	  <gethelook>
		<class>Apptha_Gethelook_Model</class>
		<resourceModel>gethelook_mysql4</resourceModel>
	  </gethelook>
	  <gethelook_mysql4>
		<class>Apptha_Gethelook_Model_Mysql4</class>
		<entities>		  
			  <gethelook>
				<table>get_the_look</table>
			  </gethelook>
        </entities>
	  </gethelook_mysql4>
	</models>
	<resources>
	  <gethelook_setup>
		<setup>
		  <module>Apptha_Gethelook</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </gethelook_setup>
	  <gethelook_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </gethelook_write>
	  <gethelook_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </gethelook_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <gethelook>
	    <use>admin</use>
		<args>
		  <module>Apptha_Gethelook</module>
		  <frontName>admin_gethelook</frontName>
		</args>
	  </gethelook>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <gethelook module="gethelook">
		<title>Gethelook</title>
		<sort_order>100</sort_order>
		<children>
		  <gethelook module="gethelook">
		    <title>Manage Gethelook</title>
			<sort_order>0</sort_order>
			<action>admin_gethelook/adminhtml_gethelook</action>
		  </gethelook>
		</children>
	  </gethelook>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<gethelook translate="title" module="gethelook">
			  <title>Gethelook</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <gethelook translate="title">
			<title>Manage Gethelook</title>
			<sort_order>0</sort_order>
		  </gethelook>
			  </children>
			</gethelook>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<gethelook>
		  <file>gethelook.xml</file>
		</gethelook>
	  </updates>
	</layout>
  </adminhtml>
</config> 